.photos-wrap {
  display: flex;
  flex-wrap: wrap;
}

.photos-wrap div {
  width: 31%;
  margin: 1rem 1%;
}

.photos-wrap div .img-wrap {
  height: 25vw;
  width: 100%;
  margin-bottom: .5rem;
}

.photos-wrap div .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}