header {
  padding: 1rem 10%;
  border-bottom: 1px solid #000;
}

header a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem;
  border-radius: 4px;
  border: 1px solid #000;
  display: block;
  width: fit-content;
  transition: .3s;
  background: #fff;
}

header a:hover {
  color: #fff;
  background: #000;
}